<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link href="/css/capyoura.css" rel="stylesheet" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js" ></script>
  <script src="/js/capyoura.js" ></script>
  {% block head %}{% endblock head %}
  <title>capyoura</title>
</head>
<body onload="{% block onload %}{% endblock onload %}">

<div class="top panel">
    <div class="footer">
  {% if user %}
      <span><a href="/dashboard">Dashboard</a></span> | 
      <span><a href="{{logout_url}}">Logout</a></span> | 
      <span><a href="/resign">Resign</a></span>
  {% else %}
      <span><a href="{{login_url}}">Login (Google accounts)</a></span>
  {% endif %}
    </div>
</div>

<h1>
  <a href="/dashboard">Capyoura</a>/{% block title %}Title{% endblock %}
</h1>

<div class="panel">
{% block content %}Content{% endblock content %}
</div>

<div class="panel">
  <div class="footerDownload">
    <span><a href="{{crx_url}}">Chrome Extension</a></span> |
    <span><a href="http://github.com/omo/capyoura">Source Code</a></span>
  </div>
</div>

</body>
</html>
