{% extends "./base.html" %}
{% block title %}dashboard{% endblock %}
{% block head %}
  <script src="/js/dashboard.js" ></script>
{% endblock %}
{% block content %}
  <h3>Your caps</h3>
  <table border="1">
    <tr class="header">
      <td class="colSite">site</td>
      <td class="colVisit">visit</td>
      <td class="colLimit">limit/day</td>
      <td class="colLimit">timer(min)</td>
    </tr>
{% for c in caps %}
    <tr>
    <form method="POST">
        <input type="hidden" name="key" value="{{c.key|escape}}" />
  {% if c.exceeded %}<td class="exceeded">{% else %}<td>{% endif %}
	{{c.site|escape}}
        <input type="submit" class="button" name="delete" value="Delete" />
      </td>
  {% if c.exceeded %}<td class="exceeded">{% else %}<td class="under">{% endif %}
	<div style="float:left;">
          <input type="submit" class="button" name="unvisit" value="Unvisit" />
	</div>
	<div style="float: right">
	  <a href="#" onclick="showChart(evt, '{{c.site|escape}}');">
	    <span class="visitCount">{{c.fresh_visit_count}}</span>
	  </a>
	</div>
      </td>
  {% if c.exceeded %}<td class="exceeded">{% else %}<td>{% endif %}
	<div style="float:right">
          {{c.limit|escape}}
	</div>
	<div style="float:left;">
          <input type="submit" class="minibutton" name="restrict" value="-" />
          <input type="submit" class="minibutton" name="addict" value="+" />
	</div>
      </td>
  {% if c.exceeded %}<td class="exceeded">{% else %}<td>{% endif %}
	<div style="float:right">
          {{c.timer|default_if_none:""}}
	</div>
	<div style="float:left;">
          <input type="submit" class="minibutton" name="restrict_timer" value="-" />
          <input type="submit" class="minibutton" name="addict_timer" value="+" />
	</div>
      </td>
    </form>
    </tr>
{% if c.exceeded %}
    <tr>
      <td class="exceeded note" colspan="4">
	<div style="text-align:right">
	  <em class="captime">{{c.nearest_uncap|timesince:now}}</em> left.
	</div>
      </td>
    </tr>
{% endif %}
{% endfor %}
    <form method="POST" >
    <tr >
      <td class="rowNew"><input type="text" name="new_site" style="width:12em"/></td>
      <td class="rowNew">&nbsp;</td>
      <td class="rowNew">
	<input type="text" name="new_limit"  style="width: 4em"/>
      </td>
      <td class="rowNew">
	<input type="text" name="new_timer"  style="width: 4em"/>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="rowNew">
        <input type="submit" class="embutton" name="addnew" value="Cap new!" />
      </td>
    </tr>
    </form>
  </table>
{% endblock content %}
