
* {
    font-family: verdana;
    margin: 0px;
}

body {
   background-color: #ddeef6;
}

h1, div.panel {
    margin: 10pt;
    padding: 10pt;;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    background-color: white;
}

div.top {
    margin-top: 0em;
    border-top-width: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 {
    color: #444;
}

h1 a, h1 a:link {
    color: inherit;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

h3 {
    margin: 0em;
    padding: 0em;
}

div.subpanel {
    margin-top: 0.5em;
}

table {
    margin: 1em;
    padding: 0em;
    border-style: solid;
    background-color: black;
}

table td {
    font-size: medium;
    padding: 0.3em;
    background-color: white;
    border-style: solid;
}

table td.under a:hover, 
table td.exceeded a:hover {
    text-decoration: none;
    background-color: #ccc;
}

table td.under .visitCount {
    color: black;
}

table td.exceeded .visitCount {
    color: #c00;
    font-weight: bold;
}

table td.note {
    font-size: x-small;
}

table .colSite {
    width: 15em;
}

table .colLimit {
    width: 5em;
}

table .colVisit {
    width: 7em;
}


table .colSite, 
table .colLimit,
table .colPost,
table .colVisit {
    font-weight: bold;
}

table .rowNew {
    background-color: #eee;
}

table tr {
    background-color: red;
}

.panel form {
    display: inline;
}

input[type="text"] {
    border-style: solid;
    border-color: black;
    font-size: medium;
}

.button, .minibutton, .embutton {
    background-color: #46d;
    color: white;
    font-size: x-small;
    font-weight: bold;
    border-style: none;
    padding: 0.4em;
}

.button {
    float:right;
}

.embutton {
    float:right;
    font-size: small;
}

.minibutton {
    font-family: monospace;
    vertical-align: middle;
}

.button:hover, .minibutton:hover {
    background-color: #24c;
}

.panel a {
    text-decoration: none;
    color: #00c;
}

.panel a:hover {
    text-decoration: underline;
}

.footer {
    text-align: right;
    padding-top: 0.2em;
}

.footerDownload {
    text-align: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

em {
    font-style: normal;
    font-weight: bold;
} 

p.intro {
    font-size: larger;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    line-height: 1.8em;
}

p.intro .pronouncej {
    font-size: smaller;
}

a.inst {
    font-weight: bold;
}

a img {
    border-style: none;
}

.chart {
    position: absolute;
    top: 20%;
    left: 10%;
    margin: 1em;
    padding: 0px;
    min-width: 80%;
    height: 50%;
    min-height: 320px;
    color: #800;

    border-style: dashed;
    border-width: 2px;
    border-color: black;
    background-color: white;
}

.chart .caption {
    padding-top: 0.5em;
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: bold;
}

.chart .close {
    float: right;
    color: black;
    margin: 0.5em;
    font-family: monospace;
    font-size: x-large;
    cursor: pointer;
}

.chart .close:hover {
    background-color: #ccc;
    color: white;
}

.chart iframe {
    border-style: none;
    overflow: hidden;
    width: 100%;
    height: 80%;
    min-height: 280px;
}